    * {
        font-family: "JetBrains Mono", monospace;
    }

    html, body {
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    body {
        background-color: #fff0f3;
        background-opacity: 0.7;
        background-image:  linear-gradient(#ffffff 2px, transparent 2px), linear-gradient(to right, #ffffff 2px, #fff0f3 2px);
        background-size: 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Main Window */

    #mainWindow {
        background-color: #FFFFFF;
        height: 26em;
        width: 51em;
        display: grid;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        box-sizing: inherit;
        z-index: 1;
        position: static;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #mainWindow #header {
        background-color: #3D3A5B;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2.3em;
    }

    #header img{
        height: 1em;
        width: 1em;
        margin-left: 1em;
        margin-top: 0.6em;
    }

    #mainWindow h1 {
        font-size : 2em;
        text-align: center;
        margin-bottom: -1em;
    }

    #mainWindow h2 {
        font-size : 1.8em;
        text-align: center;
        color: #5D5985;
        font-weight: bold;
    }

    #mainWindow p {
        font-size : 0.9em;
    }

    #mainWindow h1, p {
        color: #1B1741;
        font-weight: bold;
    }

    #mainButtons {
        display: flex;
        flex-direction: row;
        margin-left: 4em;
        margin-right: 4em;
        justify-content: space-between;
    }

    #mainButtons p {
        text-align: center;
        display: grid;
        justify-content: space-around;
    }

    #mainButtons img {
        width: 5.5em;
    }

    #mainButtons img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 0.5s ease;
    }

    /* A Propos Window */

    #aProposWindow {
        background-color: #FFF;
        height: 28em;
        width: 50em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 120px;
        left: 150px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #aProposWindow .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #aProposWindow .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #aProposWindow .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #aProposWindow #aProposMainFrame {
        display: flex;
        flex-direction: column;
        gap: 2em;
        max-width: 100%;
        max-height: 24em;
        overflow: auto;
        padding: 1em;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }

    #aProposWindow #aProposMainFrame #aPropos1stPart {
        display: flex;
        align-items: center;
        gap: 2em;
    }

    #aProposWindow #aProposMainFrame #aPropos1stPart #bunnyPfp img {
        justify-content: end;
        height: 10em;
    }

    #aProposWindow #aProposMainFrame #aProposTxt1 {
        justify-content: start;
        flex: 1;
    }

    #aProposWindow #aProposMainFrame #aProposTxt1 span {
        color: #856ABD;
        font-weight: bolder;
    }

    #aProposWindow #aProposMainFrame #aProposTxt2 {
        margin-top: -1em;
    }

    #aProposWindow #aProposMainFrame #h4logos {
        margin-top: -1em;
        margin-bottom: -0.8em;
    }

    #aProposWindow #aProposMainFrame h4 {
        color: #1B1741;
    }

    #aProposWindow #aProposMainFrame .logos img {
        height: 3.5em;
    }

    /* BTS SIO */

    #btsWindow {
        background-color: #FFF;
        height: 32em;
        width: 50em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 200px;
        left: 200px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #btsWindow .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #btsWindow .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #btsWindow .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #btsWindow #btsMainFrame {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        max-width: 100%;
        max-height: 28em;
        overflow: auto;
        padding: 1em;
        box-sizing: border-box;
    }


    /* Epreuve 4 */

    #epreuve4Window {
        background-color: #FFF;
        height: 28.5em;
        width: 50em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 200px;
        left: 200px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #epreuve4Window .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #epreuve4Window .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #epreuve4Window .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #epreuve4Window #epreuve4MainFrame {
        display: flex;
        flex-direction: column;
        gap: 2em;
        max-width: 100%;
        max-height: 24.5em;
        overflow: auto;
        padding: 1em;
        box-sizing: border-box;
    }

    #epreuve4Window #epreuve4MainFrame .content {
        display: flex;
        align-items: flex-start;
        gap: 1.5em;
        box-sizing: border-box;
    }

    /* Epreuve 5 */

    #epreuve5Window {
        background-color: #FFF;
        height: 28.5em;
        width: 50em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 200px;
        left: 200px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #epreuve5Window .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #epreuve5Window .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #epreuve5Window .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #epreuve5Window #epreuve5MainFrame {
        display: flex;
        flex-direction: column;
        gap: 2em;
        max-width: 100%;
        max-height: 24.5em;
        overflow: auto;
        padding: 1em;
        box-sizing: border-box;
    }

    #epreuve5Window #epreuve5MainFrame .content {
        display: flex;
        align-items: flex-start;
        gap: 1.5em;
        box-sizing: border-box;
    }


    /* Entreprise */

    #entrepriseWindow {
        background-color: #FFF;
        height: 32em;
        width: 50em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 200px;
        left: 200px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #entrepriseWindow .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #entrepriseWindow .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #entrepriseWindow .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #entrepriseWindow #entrepriseMainFrame {
        display: flex;
        justify-content: space-between;
    }

    #entrepriseWindow #linkedin, #github {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2.1em;
    }

    #entrepriseWindow img {
        width: 4em;
    }

    /* Veille technologique */

    #veilleWindow {
        background-color: #FFF;
        height: 24em;
        width: 46em;
        border: solid 1px #1B1741;
        border-radius: 1.5em;
        z-index: 3;
        position: absolute;
        box-sizing: border-box;
        display: none;
        top: 200px;
        right: 200px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #veilleWindow .header {
        background-color: #3D3A5B;
        padding-top: 0.5em;
        border-bottom: 1px solid #1B1741;
        border-radius: 1.4em 1.4em 0 0;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: grab;
    }

    #veilleWindow .header p {
        color: #FFF;
        margin-left: 1em;
    }

    #veilleWindow .header img {
        width: 2em;
        margin-right: 1em;
        cursor: auto;
    }

    #veilleWindow #veilleMainFrame p {
        display: flex;
        margin-left: 2em;
        margin-top: 2em;
    }

    /* Footer */

    footer {
        background-color: #3D3A5B;
        height: 2.5em;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

    footer p {
        color: #FFFFFF;
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        margin-top: 1.5em;
    }

    #bunny {
        width: 12em;
        position: fixed;
        bottom: 1.5em;
        right: 0;
        z-index: 2;
        margin-right: 2em;
    }

    #bunny:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s ease;
    }

    .scrollbar {
        height: 300px;
        width: 50%;
        overflow: auto;
        padding: 0 10px;
    }
    /*       ScrollBar 1        */

    .scrollbar1::-webkit-scrollbar {
        width: 16px;
    }

    .scrollbar1::-webkit-scrollbar-track {
        margin-top: 5px;
        margin-right: 5px;
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
    }

    .scrollbar1::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: content-box;
        background-color: #B3A0D8;
    }

